[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
alembic = "*"
urwid = "*"
python-dateutil = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"

[packages.fns]
git = "https://github.com/poserg/revise-receipt-client.git"
